// tailwind
@tailwind base;

@tailwind components;

@tailwind utilities;

$FontPathOpenSans: "../fonts/open-sans";
@import '~open-sans-fonts/open-sans-bold';

.font-opensans {
    font-family: "Open Sans", "Arial", sans-serif;
}

textarea, select, input, button {
    @apply bg-dark-gray text-dark-font font-sans border-dark-font border border-solid rounded py-2 px-3 leading-tight;
}

select {
    @apply ml-1;
}

label {
    @apply mr-1;
}
.max-w-screen-xl {
    max-width: 1280px !important;
}

.label-info {
    @apply px-2 py-1 rounded bg-dark-med text-dark-font inline-block;
}
